<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tests" parallel="none" thread-count="4">
  <test name="API Integration Tests" verbose="1">
    <classes>
      <class name="com.kotlin_template_project.app.CucumberRunner"/>
    </classes>
  </test>

</suite>

